{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block titulo %} {% trans 'Level X' %} {% endblock %}

{% block contenido %}

  
  
  {% get_current_language as LANGUAGE_CODE %}






  







  {% if LANGUAGE_CODE == 'es-mx' %}

  <h1>{% trans 'Level A1' %}</h1>
  <hr>

  <p>{% lorem 1 b random %}</p>

  <div class="container">    
  
    <div class="row mb-2">

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            <!--<strong class="d-inline-block mb-2 text-primary">World</strong>-->
            <h3 class="mb-0">Student's Book A1</h3>
            <!--<div class="mb-1 text-muted">Nov 12</div>-->
            <p class="card-text mb-auto">Material</p>
            <a href="#" class="stretched-link">Videos</a>
            <a href="#" class="stretched-link">Audios</a>
            <a href="#" class="stretched-link">Scripts</a>
          </div>

          <div class="col-auto d-none d-lg-block">
            <img alt="G4U" class="img-fluid" src="{% static 'core/images/message/gobernador-es.png' %}" >
          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            <!--<strong class="d-inline-block mb-2 text-primary">World</strong>-->
            <h3 class="mb-0">Workbook A1</h3>
            <!--<div class="mb-1 text-muted">Nov 12</div>-->
            <p class="card-text mb-auto">Material</p>
            <!--<a href="#" class="stretched-link">Videos</a>-->
            <a href="#" class="stretched-link">Audios</a>
            <a href="#" class="stretched-link">Scripts</a>
          </div>

          <div class="col-auto d-none d-lg-block">
            <img alt="G4U" class="img-fluid" src="{% static 'core/images/message/gobernador-es.png' %}" >
          </div>

        </div>
      </div>

    </div><!--dos-->
    
  </div><!--container-->

    
    

  {% elif LANGUAGE_CODE == 'en-us' %}

    <p>{% lorem 1 b random %}</p>
    <img alt="G4U" class="img-fluid" src="{% static 'core/images/message/gobernador-en.png' %}" >

  {% endif %}
{% endblock %}