{% load static %}
{% load i18n %}

<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="GrowingForYou">
  <meta name="author" content="UPP">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>G4U | {% block titulo %} {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'core/vendor/twbs/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- FA core CSS -->
  <link href="{% static 'core/vendor/components/font-awesome/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/components/font-awesome/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/components/font-awesome/css/solid.css' %}" rel="stylesheet">

  <style>
    .fondo1 {
      width: 100%;
      height: 100%%;
      background-image: url('{% static 'core/images/LoginFondo.png' %}');
      background-size: cover;
      /*border: 1px solid purple;*/
    }
    .fondo2 {
      width: 100%;
      height: 100%%;
      background-image: url('{% static 'core/images/LoginFondoWhite.png' %}');
      background-size: cover;
      /*border: 1px solid purple;*/
    }    
  </style>




</head>

<body>


  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Navbar Menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">English Learning Ecosystem (ELE)</a>


      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

          <li class="nav-item">
            <a class="nav-link px-2 text-secondary" aria-current="page" href="{% url 'home'%}">{% trans 'Home' %}</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
              aria-expanded="false">{% trans 'About' %}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="{% url 'message' %}">{% trans 'Governor´s message' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'whatisele' %}">{% trans 'What is ELE?' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'components' %}">{% trans 'Components' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'methodology' %}">{% trans 'Methodology' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'partners' %}">{% trans 'Partners' %}</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown"
              aria-expanded="false">{% trans 'Learning' %}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="#">{% trans 'Level A1' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level A2' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level B1' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level B1+' %}</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
              aria-expanded="false">{% trans 'Teaching' %}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="#">{% trans 'Resources & Assessment' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Digital Tools' %}</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
              aria-expanded="false">{% trans 'Practice' %}</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="{% url 'practice_LevelA1' %}">{% trans 'Level A1' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level A2' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level B1' %}</a></li>
              <li><a class="dropdown-item" href="#">{% trans 'Level B1+' %}</a></li>
            </ul>
          </li>

        </ul>

      </div>

      <div class="text-end">
        <button type="button" class="btn btn-warning">Login</button>
      </div>


    </div>
  </nav>





  <div class="b-example-divider"></div>

  <div class="fondo2">

    <br>

    <div class="text-end">

      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
          <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
          {% endfor %}
        </select>
        <input type="submit" value="Go">
      </form>

    </div>

    {# get_current_language as LANGUAGE_CODE #}
    {#LANGUAGE_CODE#}
    {# trans 'my love' #}

    <div class="container">
      {% block contenido %}{% endblock %}
    </div>
  </div>






  <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="mb-3">{% trans 'Soporte técnico' %}</h5>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" class="btn btn-floating btn-warning btn-md" href="https://www.facebook.com/profile.php?id=100053152149149"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" class="btn btn-floating btn-warning btn-md" href="https://www.upp.edu.mx/site/"><i class="fas fa-road"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-floating btn-warning btn-md" href="mailto: sistemas@upp.edu.mx"><i class="fas fa-mail-bulk"></i></a>
            
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">

          <img src="{% static 'core/images/escudo_blanco.svg' %}" width=100 ></img>
          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          
        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Plataforma de acceso, &copy; {% now 'Y' %} Copyright:
      <a class="text-white" href="https://www.upp.edu.mx/">Universidad Politécnica de Pachuca</a>
    </div>
    <!-- Copyright -->
  </footer>
  




  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'core/vendor/components/jquery/jquery.slim.min.js' %}"></script>

  <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="{% static 'core/vendor/twbs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>