{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block titulo %} {% trans 'Methodology' %} {% endblock %}

{% block contenido %}

  <h1>{% trans 'Methodology' %}</h1>
  <hr>
  <p>{% trans 'methodology-parrafo0' %}</p>

  {% get_current_language as LANGUAGE_CODE %}

  <div class="row mb-3">
    <div class="col-md-3 themed-grid-col"></div>
    <div class="col-md-6 themed-grid-col">

      {% if LANGUAGE_CODE == 'es-mx' %}
        <img alt="G4U" class="img-fluid" src="{% static 'core/images/methodology/marco_comun_es.jpg' %}" >
      {% elif LANGUAGE_CODE == 'en-us' %}
        <img alt="G4U" class="img-fluid" src="{% static 'core/images/methodology/marco_comun_en.jpg' %}" >
      {% endif %}

    </div>
    <div class="col-md-3 themed-grid-col"></div>
  </div>

  <div class="row mb-3">

    <div class="col-md-6 themed-grid-col">
      <p>{% trans 'methodology-parrafo1' %}</p>
      <p>{% trans 'methodology-parrafo2' %}</p>
      <p>{% trans 'methodology-parrafo3'%}</p>
    </div>
    
    <div class="col-md-6 themed-grid-col">
      <img alt="G4U" class="img-fluid" src="{% static 'core/images/methodology/libros.png' %}" >
    </div>

  </div>


{% endblock %}

